@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$main-color:#FFE066;
$secondary-color:#F8F9FA;
$text-color:#343A40;
$secondary-text-color:#868E96;
$border-color:#cfcfcf;
$border:1px solid $border-color;
$radius:6px;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html{
    font-size: 16px;
    font-family: "Montserrat", sans-serif;

}

.header_layout_icon_css{
    display: flex;
    position: absolute;
    font-size: 2rem;
    color: #000;
    background-color: #FFE066;
}